<div class="home-container">

	<div class="col-xs-12 home-header">
		why leave?
	</div>

	<div class="row">
		<div class="col-xs-12 geo-button">
			Find Events Using My Coordinates
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 center-text">
			or
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<input type="text" class="zip-input" id="demo" placeholder="Enter Zip Code"></input>
		</div>
	</div>

	<div class="center-text go-button">
			GO
	</div>


</div>
